{% extends 'back/BackBase.html.twig' %}

{% block title %}Add News{% endblock %}

{% block content %}
    <h1>Add News</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('app_news_index') }}">Back To News</a>
{% endblock %}
