<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Notification</title>
</head>
<body>
<h1>Team added</h1>
<p>A new team is added </p>
<img src="{{ absolute_url(asset('public\assets\images\syrine.jpg')) }}">
</body>
</html>